#header1 {
    text-align: center;
    height: 15vh;
    background-color: white;
}

.titulo1 {
    font-family: 'Erica One', cursive;
    font-size: 37px;
}

.titulo_app1 {
    color: #FFB800;
    font-family: 'Erica One', cursive;
    font-size: 37px;
}

#cuerpo1{
    background-color: #1a1a1a;
}

#ingresa{
    text-align: center;
    color: #FFB800;
    font-family: 'Montserrat', cursive;
}

#parrafo{
    margin-top: 20%;
}

#boton_volver{
    margin-top: 60%;
}

#boton_recibir{
    margin-top: 11vh;
}