.titulo {
    font-family: 'Erica One', cursive;
    font-size: 37px;
    text-align: center;
    color: black;
}

.titulo_app {
    color: #FFB800;
    font-family: 'Erica One', cursive;
    font-size: 37px;
    text-align: center;
}

ion-content {
    --background: #1A1A1A;
}

ion-card{
    margin-top: 150px;
}

ion-card-content{
    text-align: center;
}

h1{
    font-family: 'Unbounded', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}