<ion-header>
  <ion-header class="header">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Erica+One&family=Montserrat:wght@500&family=Silkscreen&family=Unbounded:wght@500&display=swap"
      rel="stylesheet">
    <ion-toolbar>
      <h1 class="titulo_app">TeLlevo<span class="titulo">App</span></h1>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <ion-card>
    <div #mapDiv class="map-container" style='height: 350px;'></div>

    <ion-card-content>
      <h1><b>Viaje</b></h1>
     <!-- <p>Capacidad: {{viaje.capacidad | async}}</p>
      <p>Matricula vehiculo: {{viaje.matricula | async}}</p>
      <p>Costo viaje: {{viaje.costo | async}}</p>
      <p>Destino: {{viaje.destino | async}}</p>
      <p>Hora de salida: {{viaje.salida | async}}</p>  -->
    </ion-card-content>
  </ion-card>
</ion-content>