<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Erica+One&family=Montserrat:wght@500&family=Silkscreen&display=swap"
    rel="stylesheet">
  <ion-toolbar>
    <h1 class="titulo_app">TeLlevo<span class="titulo">APP</span></h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <lottie-player id="animacion" src="https://assets2.lottiefiles.com/packages/lf20_GIyuXJ.json"
    background="transparent" speed="1" loop autoplay></lottie-player>
    <ion-card-subtitle><h1 id="ups">Ups... nada por aqu&iacute;</h1></ion-card-subtitle>
    <ion-button (click)=volver()><b>Volver a la pagina de inicio</b></ion-button>
  </ion-card>
  
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</ion-content>