:root {
    --amarillo : #FFB800;
    --negro : black;
    --negro-duoc : #1A1A1A;
}

h1{
    font-family: 'Erica One', cursive;
}

#app{
    color: black;
}

#tellevo{
   color: #FFB800;
   padding-left: 10px;
}

ion-toolbar{
    --background: white;
}

ion-content{
    --background: #1A1A1A;
}

ion-card{
    --background: white;
    margin-top: 80px;
}

#viajes{
    font-family: 'Erica One', cursive;
    font-size: medium;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

ion-button{
    --color: white;
    --background: green;
}