<ion-app>
  <ion-header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Erica+One&family=Montserrat:wght@500&family=Silkscreen&display=swap"
      rel="stylesheet">
    <ion-toolbar>
      <h1 id="tellevo">TeLlevo<span id="app">APP</span></h1>
      <ion-back-button defaultHref="home" slot="end"></ion-back-button>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-title>
        <h1 id="viajes">Viajes disponibles</h1>
      </ion-card-title>
      <ion-item>
        <ion-list>
          <div *ngFor="let aux of viajes">
            <ion-item>


              <p><b>Destino:</b> {{aux.destino}}<br>
                <b>Salida:</b> {{aux.salida}}<br>
                <b>Costo:</b> {{aux.costo}}<br>
                <b>Capacidad:</b> 0/{{aux.capacidad}}<ion-icon name="people"></ion-icon>
              </p>
              <ion-button size="small">Unirse</ion-button>




            </ion-item>
          </div>
        </ion-list>
      </ion-item>
    </ion-card>
  </ion-content>
</ion-app>