ion-content {
    --background: #1A1A1A;
}

ion-card {
    margin-top: 180px;
}

ion-label {
    font-size: smaller;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Erica One', cursive;
    color: #1A1A1A;
    text-align: center;
    font-size: medium;
}

ion-input {
    border-style: solid;
    border-color: #1A1A1A;
    margin-bottom: 12px;
}

ion-button {
    margin-left: 25% !important;
    margin-right: 25% !important;
    width: 50% !important;
    --border-color: black !important;
    --background: #1A1A1A !important;
}

capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
}

#map-container {
    height: 40%;
}

.correcto{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    color: green;
    
}

.incorrecto{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    color: red;
}