<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Erica+One&family=Montserrat:wght@500&family=Silkscreen&display=swap"
    rel="stylesheet">
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>
      <h1>Crear viaje</h1>
    </ion-card-title>

    <ion-card-content>
      <p>Ingrese la capacidad de su viaje</p>
      <ion-input type="number" placeholder="Capacidad"></ion-input>
      
      <p>Ingrese la matricula de su vehiculo</p>
      <ion-input maxlength="6" placeholder="Matricula"></ion-input>

      <p>Ingrese su destino</p>
      <ion-input type="text" placeholder="Destino" ></ion-input>

      <ion-button>Crear viaje</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>