.titulo{
  font-family: 'Erica One', cursive;
  font-size: 37px;
  text-align: center;
  color: black;
}

.titulo_app{
  color: #FFB800;
  font-family: 'Erica One', cursive;
  font-size: 37px;
  text-align: center;
}

#bienvenido{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#pregunta{
  color: #FFB800;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
}

.header{
  background-color: white;
}

#buscar_transporte{
  font-family: 'Montserrat', sans-serif;
}

#crear_viaje{
  font-family: 'Montserrat', sans-serif;
}

ion-icon{
  font-size: 22px;
}

ion-footer{
  background-color: white;
  text-align: center;
  height: 4vh;
  font-family: 'Montserrat', sans-serif;
}

