<ion-app>
  <ion-header class="header">
    <ion-toolbar>
      <h1 class="titulo_app">TeLlevo<span class="titulo">App</span></h1>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="BuscarTransporte" (ionChange)="segmentChanged($event)" >
        <ion-segment-button value="CrearViaje">
          <ion-label id="crear_viaje">Crear Viaje</ion-label><ion-icon name="school"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="BuscarTransporte">
          <ion-label id="buscar_transporte">Buscar Transporte</ion-label><ion-icon name="car"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
  <ion-footer><a href="#" id="cerrar_sesion">Cerrar sesion</a></ion-footer>
</ion-app>
